!!! 5
%html
  %head
    %title= page_title

    %meta{ charset: "utf-8" }
    %meta{ :"http-equiv" => "X-UA-Compatible", content: "IE=edge, chrome=1" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" }
    %meta{ name: "description", content: page_description }
    %meta{ name: "twitter:site", content: "@aedweb" }
    %meta{ name: "google-translate-customization", content: "71cb5c013695f93d-fe74d99ac133704e-g0980a9e175ac5409-e" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }

    / [if (lt IE 9) & (!IEMobile 7)]
      = javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application"
    = javascript_include_tag "respond"
  %body{ class: page_classes }
    #viewport
      #menu
        %h3= link_to '<i class="icon-menu"></i> Menu', "#", class: "menu-icon"
        %ul.links
          %li= link_to "Link", "#"
          %li= link_to "Link", "#"
          %li= link_to "Link", "#"
          %li= link_to "Link", "#"
          %li= link_to "Link", "#"
      #page
        = yield

    = javascript_include_tag "application"
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    = javascript_include_tag "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    = google_analytics_tag
