!!! 5
%html
  %head
    %title= page_title

    %meta{ charset: "utf-8" }
    %meta{ name: "description", content: page_description }
    %meta{ name: "twitter:site", content: "@aedweb" }
    %meta{ name: "google-translate-customization", content: "71cb5c013695f93d-fe74d99ac133704e-g0980a9e175ac5409-e" }
    %meta{ :"http-equiv" => "X-UA-Compatible", content: "IE=edge, chrome=1" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }

    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon", href: "apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }

    / [if (lt IE 9) & (!IEMobile 7)]
      = javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application"
    = javascript_include_tag "respond"
  %body{ class: page_classes }
    #viewport
      #menu
        %h3= link_to '<i class="icon-menu"></i> Menu', "#", class: "menu-icon"
        %ul.top-links
          %li
            = link_to "Link", "#"
            %ul.submenu-items
              %li= link_to "Link", "#"
          %li= link_to "Link", "#"
          %li= link_to "Link", "#"
          %li= link_to "Link", "#"
          %li= link_to "Link", "#"
      #page
        %header.header
          .inner
            = link_to "Academy for Eating Disorders", "/", class: "logo"
            .top
              .left
                %h2.heading
                  = link_to "/" do
                    = image_tag "heading.png", alt: "Academy for Eating Disorders"
                %p.slogan= image_tag "slogan.png", alt: "Prevention. Treatment. Research. Education."
                = link_to 'Menu <i class="icon-menu"></i>', "#", class: "menu-icon"
              .right
                .action-bar
                  #google_translate_element
                  %form.form
                    .input
                      %i.icon-search
                      %input{ type: "text", placeholder: "Search" }
                %ul.social-badges
                  %li= link_to "Google+", "#", class: "badge icons-gplus"
                  %li= link_to "Facebook", "https://www.facebook.com/pages/Academy-for-Eating-Disorders/56454591652", class: "badge icons-facebook"
                  %li= link_to "LinkedIn", "http://www.linkedin.com/groups?about=&gid=1208317&trk=anet_ug_grppro", class: "badge icons-linkedin"
                  %li= link_to "YouTube", "http://www.youtube.com/channel/UCJdjVELGnfTYYCX5bCZ920A", class: "badge icons-youtube"
                  %li= link_to "Twitter", "https://twitter.com/aedweb", class: "badge icons-twitter"

            %nav.nav
              = link_to "#", class: "account" do
                %span
                  <i class="icon-account"></i>
                  Members
                .member-menu
                  %form.member-form
                    %input{ type: "text", placeholder: "Email" }
                    %input{ type: "password", placeholder: "Password" }
                    %input.button{ type: "submit", value: "Log In" }
              %ul.top-links
                %li
                  = link_to "<span>About AED</span>", "#subnav-1"
                  .submenu-image= image_tag "placeholder/subnav-1.jpg"
                  <ul class="submenu-items"><li><a class="item-477" href="/web/index.php/about-aed/our-mission"><span>Our Mission</span></a></li><li><a class="item-497" href="/web/index.php/about-aed/about-forum-2"><span>Personnel</span></a><ul class="submenu-items"><li><a class="item-492" href="/web/index.php/about-aed/about-forum-2/leadership"><span>Leadership</span></a></li><li><a class="item-498" href="/web/index.php/about-aed/about-forum-2/organization"><span>Organizational Chart</span></a></li><li><a class="item-500" href="/web/index.php/about-aed/about-forum-2/fellows"><span>Fellows</span></a></li></ul></li><li><a class="item-496" href="/web/index.php/about-aed/about-forum"><span>Forum</span></a></li><li><a class="item-494" href="/web/index.php/about-aed/about-aed-faq"><span>FAQ</span></a></li><li><a class="item-495" href="/web/index.php/about-aed/about-aed-history"><span>History</span></a></li><li><a class="item-493" href="/web/index.php/about-aed/about-aed-sister-organizations"><span>Sister Organizations</span></a></li><li><a class="item-499" href="/web/index.php/about-aed/advisory"><span>Advisory Board</span></a></li></ul>
                %li
                  = link_to "<span>Eating Disorders Information</span>", "#subnav-2"
                  %ul.submenu-items
                    %li= link_to "Link 2", "#"
                    %li= link_to "Link 2", "#"
                    %li= link_to "Link 2", "#"
                    %li= link_to "Link 2", "#"
                %li
                  = link_to "<span>Conference &amp; Education</span>", "#subnav-3"
                  .submenu-image= image_tag "placeholder/subnav-1.jpg"
                  %ul.submenu-items
                    %li= link_to "Link 3", "#"
                    %li= link_to "Link 3", "#"
                    %li= link_to "Link 3", "#"
                    %li= link_to "Link 3", "#"
                %li
                  = link_to "<span>Get Involved</span>", "#subnav-4"
                  %ul.submenu-items
                    %li= link_to "Link 4", "#"
                    %li= link_to "Link 4", "#"
                    %li= link_to "Link 4", "#"
                    %li= link_to "Link 4", "#"
              .subnav
                .inner

        = yield

        %footer.footer
          .inner
            %ul.social-badges
              %li= link_to "Google+", "#", class: "badge icons-gplus-dark"
              %li= link_to "Facebook", "https://www.facebook.com/pages/Academy-for-Eating-Disorders/56454591652", class: "badge icons-facebook-dark"
              %li= link_to "LinkedIn", "http://www.linkedin.com/groups?about=&gid=1208317&trk=anet_ug_grppro", class: "badge icons-linkedin-dark"
              %li= link_to "YouTube", "http://www.youtube.com/channel/UCJdjVELGnfTYYCX5bCZ920A", class: "badge icons-youtube-dark"
              %li= link_to "Twitter", "https://twitter.com/aedweb", class: "badge icons-twitter-dark"
            %nav.links
              %ul.column
                %li= link_to "Home", "#"
                %li= link_to "Contact", "#"
                %li= link_to "Sitemap", "#"
                %li= link_to "Join AED", "#"
                %li= link_to "AED Forum", "#"
                %li= link_to "Newsletter", "#"
              %ul.column
                %li= link_to "Position Statements", "#"
                %li= link_to "Press Releases", "#"
                %li= link_to "Bookstore", "#"
                %li= link_to "Reading List", "#"
                %li= link_to "Past Awards and Honors", "#"
              %ul.column
                %li= link_to "Privacy Policy", "#"

    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    = javascript_include_tag "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    = google_analytics_tag
    = javascript_include_tag "application"
