- content_for(:page_class) { "interior" }

.breadcrumb-bar
  .inner
    %ul
      %li
        = link_to "Home", "#"
        %span.divider &gt;
      %li
        = link_to "Section", "#"
        %span.divider &gt;
      %li
        %span Active Link

.title-bar
  .inner
    .other-links-heading
      %h4 Other Links
    .heading
      %h1 Test Title

.content
  .inner
    %section.main-article
      %aside.other-links
        %ul
          %li= link_to "Test", "#"
          %li= link_to "Test", "#"
          %li
            = link_to "Test", "#"
            %ul
              %li
                = link_to "Submenu Item", "#"
                %ul
                  %li= link_to "Sub-Submenu Item", "#"
                  %li= link_to "Sub-Submenu Item", "#"
              %li= link_to "Submenu Item", "#"
              %li= link_to "Submenu Item", "#"
              %li= link_to "Submenu Item", "#"
          %li
            %span Live Link
          %li= link_to "Test", "#"

      %section.inner
        :plain
          <div class="item-page">
                  <div class="page-header">
              <h2>
                                        <a href="/web/index.php/about-aed/our-mission"> Our Mission</a>
                            </h2>
            </div>




                          <h1><strong>OUR MISSION</strong></h1>
          <p>The Academy for Eating Disorders is a global professional association committed to leadership in eating disorders research, education, treatment and prevention.</p>
          <h1><strong>OUR VISION</strong></h1>
          <p>Global access to knowledge, research and best treatment practice for eating disorders.</p>
          <h1><strong>OUR STRATEGIC GOALS</strong></h1>
          <ol>
          <li>Generate knowledge and integrate collective expertise about Eating Disorders.</li>
          <li>Provide platforms for the promotion of understanding, sharing of knowledge, &amp; research-practice integration in the field of Eating Disorders.</li>
          <li>Build capacity in the next generation of Eating Disorder professionals.</li>
          <li>Foster innovation &amp; best practice by recognizing excellence in the field of Eating Disorders.</li>
          </ol>
                <div class="article-info muted">
                <dl class="article-info">
                <dt class="article-info-term">Details</dt>

                                                  <dd class="category-name">
                                                Category: <a href="/web/index.php/about-aed">About AED</a>                      </dd>
                                    <dd class="published">
                      <span class="icon-calendar"></span>
                      Published: 14 January 2014          </dd>

                                  </dl>
              </div>

                       </div>

    %aside.sidebar-article
      %section.widget.related
        %h4 Related Articles
        %ul
          %li= link_to "Test 1", "#"
          %li= link_to "Test 2", "#"
          %li= link_to "Test 3", "#"

      %section.widget.excerpt
        %p This is a test excerpt from a while back. This is just a test.

      %section.widget.twitter
        %h4
          %i.icon-twitter
          Twitter
          = link_to "Follow @aedweb", "https://twitter.com/aedweb", class: "twitter-follow-button", :'data-show-count' => "false", :'data-show-screen-name' => "false"
        .inner
          .tweet-bubble
            = link_to "Loading...", "https://twitter.com/aedweb", class: "twitter-timeline", :'data-widget-id' => "408482288276475904", :'data-chrome' => "nofooter noborders noheader transparent", :'data-tweet-limit' => "1"
          .bottom
            = link_to "@aedweb", "https://twitter.com/aedweb", class: "handle"
            = link_to "View More", "https://twitter.com/aedweb", class: "view-more"
      %section.widget.dark.youtube
        %h4
          %i.icon-youtube
          Latest Videos
        .inner
          #youtube-feed
          .bottom
            = link_to "View More", "http://www.youtube.com/channel/UCJdjVELGnfTYYCX5bCZ920A", class: "view-more"
