- content_for(:page_class) { "homepage" }

.content
  .inner
    %section.main
      .category-list
        %div
          .content-category
            %h2 News
            .category-desc
              %p Test this description of the news category.
              .clr
            %form#adminForm.form-inline{ action: "http://joomla.dev/all-news", method: "post", name: "adminForm" }
              / %fieldset.filters.btn-toolbar.clearfix
              /   .btn-group.pull-right
              /     %label.element-invisible
              /       Display #
              /     %select#limit{ name: "limit", class: "inputbox input-mini", size: "1", onchange: "this.form.submit()" }
              /       %option 5
              %table.category.table.table-striped.table-bordered.table-hover
                %tbody
                  %tr.cat-list-row0
                    %td.list-title{ headers: "categorylist_header_title" }
                      %a{ href: "/another-test-article" } Another Test Article
                  %tr.cat-list-row1
                    %td.list-title{ headers: "categorylist_header_title" }
                      %a{ href: "/test-article" } Test Article

    %aside.sidebar
      %section.widget.related
        %h4 Related Articles
        %ul
          %li= link_to "Test 1", "#"
          %li= link_to "Test 2", "#"
          %li= link_to "Test 3", "#"
      %section.widget.event-calendar
        %h4
          %i.icon-calendar
          Event Calendar
        .inner
          %ul
            %li
              %span.date 10/14
              = link_to "Test content goes here 1.", "#"
            %li
              %span.date 10/15
              = link_to "Test content goes here 2.", "#"
            %li
              %span.date 10/19
              = link_to "Test content goes here 3.", "#"
          .bottom
            = link_to "View More", "#", class: "view-more"
      %section.widget.twitter
        %h4
          %i.icon-twitter
          Twitter
          = link_to "Follow @aedweb", "https://twitter.com/aedweb", class: "twitter-follow-button", :'data-show-count' => "false", :'data-show-screen-name' => "false"
        .inner
          .tweet-bubble
            = link_to "Loading...", "https://twitter.com/aedweb", class: "twitter-timeline", :'data-widget-id' => "408482288276475904", :'data-chrome' => "nofooter noborders noheader transparent", :'data-tweet-limit' => "1"
          .bottom
            = link_to "@aedweb", "https://twitter.com/aedweb", class: "handle"
            = link_to "View More", "https://twitter.com/aedweb", class: "view-more"
      %section.widget.dark.youtube
        %h4
          %i.icon-youtube
          Latest Videos
        .inner
          #youtube-feed
          .bottom
            = link_to "View More", "http://www.youtube.com/channel/UCJdjVELGnfTYYCX5bCZ920A", class: "view-more"
